*, *::after, *::before{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calculator{
    margin: auto;
    width: 30%;
    height: 80vh;
}
.pad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button {
	width: 100%;
	height: auto;
	padding: 10px;
	border-radius: 5px;
}
.dislpay input{
    width: 100%;
}